<form class="{{cssClass}}" autocomplete="off">
    <table style="width: 380px;">
        <tr>
            <td class="cell-right">{{localize 'SR3.item.name'}} :</td>
            <td><input name="name" type="text" value="{{item.name}}" placeholder="skill name" style="width: 250px; margin-left: 5px;"/></td>
            <td class="cell-right">{{localize 'SR3.score'}} :</td>
            <td class="cell-center"><input name="data.value" type="number" value="{{data.system.value}}" placeholder="" style="width: 30px; margin-left: 5px;"/></td>
        </tr>
    </table>
</form>