<table>
    <tr class="font-small sr3-monitor-th">
        <th style="width: 100px;"></th>
        <th class="cell-center">{{localize 'SR3.actor.header.l'}}</th>
        <th class="cell-center"></th>
        <th class="cell-center">{{localize 'SR3.actor.header.m'}}</th>
        <th class="cell-center"></th>
        <th class="cell-center"></th>
        <th class="cell-center">{{localize 'SR3.actor.header.s'}}</th>
        <th class="cell-center"></th>
        <th class="cell-center"></th>
        <th class="cell-center"></th>
        <th class="cell-center">{{localize 'SR3.actor.header.f'}}</th>
    </tr>
    <tr class="font-small">
        <td class="cell-center" style="width: 100px;">{{localize 'SR3.actor.header.physic'}}</td>
    {{#each actor.system.condition.physic as |case key|}}
    <td class="cell-center"><input type="checkbox" name="data.condition.physic.{{key}}.value" {{checked  case.value}}></td>
    {{/each}}
    </tr>
</table>